.hamburger-menu {
    display: flex;
    flex-direction: column;
    padding: rScale(50px);
    width: 90vw;
    height: 70vh;
    position: absolute;
    right: 0px;
    top: rScale(52px);
    background-color: $Color_LightWarm;
    z-index: 10;

    ul {
        text-decoration: none;

        li {
            list-style: none;
            padding-top: rScale(16px);
            padding-bottom: rScale(16px);

            a {
                text-decoration: none;
                color: $Color_ExtraDarkWarm;
                text-align: center;
            }
        }
    }



    @include tablet {
        display: none;
    }
}