
// ------ Breakpoint Sizes ------
$tablet: 768px;
$desktop: 1440px;

$base_scale: 5vw;
$tablet_scale: 1.91vw;
$desktop_scale: 1.1112vw;

// ------ Color Variables ----- 
/* Cool Colors */
$Color_LightCool: #F5FFFF;
$Color_MediumCool: #B7EDFF;
$Color_DarkCool: #081C26;

/* Warm Colors */
$Color_LightWarm: #FFFFF5;
$Color_MediumWarm: #FFF5CE;
$Color_MediumDarkWarm: #F8DCB3;


$Color_ExtraWarm: #FF7E00;
$Color_ExtraDarkWarm: #120A0A;

/* Neutral Colors */
$Color_Black: #000;
$Color_White: #fff;



// ------ Typography Variables -----

$Font_BaseSize: 16px;
$Font_Primary: 'Roboto', Helvetica, Arial, sans-serif;
$Font_Secondary: 'Merriweathe', Georgia, Times, serif;


// ----- Base URL for image links
$BaseURL: 'https://love2create.github.io/dd-survey-photos/';


